<footer>
    <div class="search-text"> 
        <div class="container">
            <div class="row text-center">
             
               <div class="form">
                   <h4>SIGN UP TO OUR NEWSLETTER</h4>
                    <form id="search-form" class="form-search form-horizontal">
                        <input type="text" class="input-search" placeholder="Email Address">
                        <button type="submit" class="btn-search">SUBMIT</button>
                    </form>
                </div>
            
            </div>         
        </div>     
    </div>
        
    <div class="footer-top"> 
       <div class="container">
<a target="_blank" title="follow me on twitter" href="http://www.twitter.com/darl4real"><img class="icon" alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>
<a target="_blank" title="find us on Facebook" href="http://www.facebook.com/darlington.ayakazi"><img class="icon" alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img class="icon" alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram_30x30.png" border=0></a><right>
<a target="_blank" title="follow me on google plus" href="https://plus.google.com/u/1/"><img class="icon" alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>

<p class="container" style="border-top:1px solid grey;"></p>
         class="row text-center">   
            <div class="col-lg-6 col-lg-offset-3">
                  <ul class="menu">
                             
                         <li>
                            <a href="#">Home</a>
                          </li>
                               
                          <li>
                             <a href="#">About</a>
                          </li>
                               
                          <li>
                            <a href="#">Blog</a>
                          </li>
                               
                          <li>
                             <a href="#">Gallery</a>
                          </li>
                               
                          <li>
                            <a href="#">Contact</a>
                         </li>
               
                    </ul>
            </div></>
        </div>
    </div>
</footer>
    
    
    <div class="copyright">
     <div class="container">
       
         <div class="row text-center">
         	<p>Copyright © UPnGOapps 2018 All rights reserved</p>
         </div>
         
 	   </div>
    </div>
    
    <a href="#" id="top" style="display: inline;">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>