<footer id="myFooter"></footer>
<div class="row">
    <div class="col">
        <div class="card2">
            <div class="card2-body text-center">
                <h5 class="card2-title">WHAT WE OFFER</h5>
                <p class="card2-text">Frequenly Asked Questions</p>
                <p>About Us</p>
                <p>Special Offers</p>
                <p>Promo Packages</p>
                <p>Legal Terms</p>
                

                </div>
        </div>
    </div>
    <div class="col">
        <div class="card2">
            <div class="card2-body text-center">
                <h5 class="card2-title">FOR ENQUIRIES </h5>
                <p class="card2-text">info@upngotravels.com</p>
                <p>Address: Calle Vicente Barrera Cambra nº 6, 
                <p>(esquina Guardia Civil), 46020 Valencia</p>
                <a href="#" class="card-link">www.upngotravels.comk</a>
                
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
        <div class="card2">
            <div class="card2-body text-center">
                <h5 class="card2-title">Geo location</h5>
                <iframe id="map-container" class="col-sm-6 col-sm-offset-3" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12317.800936526715!2d-0.35594!3d39.481747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses-419!2smx!4v1520890788704"></iframe>
                <p>© copyright UPnGO Travels</p>
            </div>
        </div>
    </div>
</div>