<div class="row">
   <div class="col">
       <div class="help">

                   <h3>ENQUIRIES</h3>
                   <h4>Tel:634177802</h4>
                   <h4><a href=""> info@upngotravels.com</a></h4>
                   <h6>Mon-Sat: 9:00-18:00  Sab: 08:00-13:00</h6>
                   <p><h8>© Copyright UPnGO Travels</h8></p>
       </div>

   </div>

   <div class="col">
       <div class="info">
           <h3>INFORMATION</h3>
           <a class="nav-link" href="#">About us</a>
           <a class="nav-link" href="#">Privacy Policies</a>
           <a class="nav-link" href="#">General Conditions</a>
           <a class="nav-link" href="#">Contact</a>       

       </div>

   </div>

   <div class="col">
       <div class="news">
           <h3>SUSCRIBE</h3>
           <input type="text" placeholder="email">
           <button>Suscribe</button>

           
       </div>

   </div>

</div>