<div class="About">

   <div class="col-11">

       <div class="card myplane5">

           <div class="card-body ">

               <div class="inf col-3">

                          <h2>Outstanding flights, Vacation pakages and many more</h2>

                       

                       <p>Our bread and butter may be cheap flights and vacation packages but our point of difference is our people, your travel agents, and our extensive range of product. Our passionate, knowledgeable and dedicated Airfare Experts work extensively to customize your trip to get it right. They listen and suggest, care and inspire, for they are travellers too.

                       </p>

                   

               </div>            </div>

       </div>

   </div>

   

</div>