<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item">
      <img src="/images/myplane9.jpg" alt="Rio">
      <div class="carousel-content">
        <p>TEST</p>
      </div>
      <div class="carousel-caption">
        <h3>Get the Rio vacation for €1,399</h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/myplane2.jpg" alt="Honolulu">
      <div class="carousel-caption">
        <h3>Specil vacation to Honolulu €1,550</h3>
      </div>
    </div>
    <div class="item">
      <img src="/images/myplane1.jpg" alt="Tajmahal">
      <div class="carousel-caption">
        <h3>Enjoy a trip to the Tajmahal for €1,300</h3>
      </div>
    </div>
  </div>
</div>