<div class="container-fluid">
<div class="row">
<div class="col-12 image">
    <h1>GET THE BEST TRAVEL DEALS</h1>
</div>
</div>
</div>
<div>
    <p><h5><div class="row"><p/>
    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
        <div class="card mb-4">
            <div class="card-body background"></div>
            <div class="card-body text-center">
                <h5 class="card-title">Red Card</h5>
                <p class="card-text">Get our Red Club card and travel at the best rates</p>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title"> Hotel Specials</h5>
                <p class="card-text">Stay in the best hotels at very affordable rates</p>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Car Hire Service</h5>
                <p class="card-text">Drive your dream car on your next vacation</p>
                <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div></h5>
<div class="row mt-sm-4 mt-md-0">
    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
        <h3>An important heading</h3>
        <p class="lead">A sort of important subheading can go here, which is larger and gray.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="col-sm-12 col-md-4">
        <div class="col-sm-12 col-md-4">
        <h3 class="mb-4">Latest Offers</h3>

        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hotel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    </div>
</div>
</div>



