<div class="container-fluid">
<div class="row">
<div class="col-12 image">
    </right><h1>GET THE BEST TRAVEL DEALS.
<a target="_blank" title="follow me on twitter" href="http://www.twitter.com/darl4real"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>
<a target="_blank" title="find us on Facebook" href="http://www.facebook.com/darlington.ayakazi"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram_30x30.png" border=0></a><right>
<a target="_blank" title="follow me on google plus" href="https://plus.google.com/u/1/"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
</h1>

</h1>
</div>
</div>
</div>

        </div>
    </div>    
  </div>
  <h2>
  <div class="card-deck">
    <div class="card">
    <img class="card-img-top img-fluid" src="https://dummyimage.com/300x100/FFD700/ffffff&text=.card-img-topfff&text=Paris" alt="Card image cap" width="400">
      <div class="card-body">
        <h4 class="card-title">Paris</h4>
        <p class="card-text">€200</p>
      </div>
    </div>
    

    <div class="card">
     <img class="card-img-top img-fluid" src="https://dummyimage.com/300x100/FF0000/ffffff&text=.card-img-topfff&text=Sidney" alt="Card image cap" width="400">
      <div class="card-body">
        <h4 class="card-title">Sidney</h4>
        <p class="card-text">€1200</p>
      </div>
    </div>
    

    <div class="card">
    <img class="card-img-top img-fluid" src="https://dummyimage.com/300x100/006400/ffffff&text=.card-img-topfff&text=Lagos" alt="Card image cap" width="400">
      <div class="card-body">
        <h4 class="card-title">Lagos</h4>
        <p class="card-text">€650</p>
      </div>
    </div>
    

    <div class="card">
    <img class="card-img-top img-fluid" src="https://dummyimage.com/300x100/ff8c00/ffffff&text=.card-img-topfff&text=London" alt="Card image cap" width="400">
      <div class="card-body">
        <h4 class="card-title">London</h4>
        <p class="card-text">€100</p>
      </div>
    </div>
    </div></h2>
</div>
<div class="row">
    <div class="col">
        <div class="">
            <div class=<div id="mycarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/myplane9.jpg" alt="Rio">
    </div>
    <div class="carousel-item">
      <img src="/images/myplane2.jpg" alt="Honolulu">
    </div>
    <div class="carousel-item">
      <img src="/images/myplane1.jpg" alt="Honolulu">
    </div>
  </div>
</div>
     </div>
     </div>
    </div>
    <div class="About">

   <div class="col-11">

       <div class="card myplane5">

           <div class="card-body ">

               <div class="inf col-3">

                          <h2>Outstanding flights, Vacation pakages and many more</h2>

                       

                       <p>Our bread and butter may be cheap flights and vacation packages but our point of difference is our people, your travel agents, and our extensive range of product. Our passionate, knowledgeable and dedicated Airfare Experts work extensively to customize your trip to get it right. They listen and suggest, care and inspire, for they are travellers too.

                       </p>

                   

               </div>            </div>

       </div>

   </div>

                
            </div>
        </div>
    </div>
   

</div>
    
</div>
</div>
</div>
<div class="contacto">

       <div class="row">

           <div class="col sm-4 md-2 ">

               <h2>Contacto</h2>

               <form action="contacto">

                   <input name="name" class="form-control" id="name" required="required" placeholder="Nombre"><br>

                   <input name="email" class="form-control" id="email" type="email" required="required" placeholder="E-mail"><br>

                   <input name="telefono" class="form-control" id="telefono" type="text" required="required" placeholder="Telefono"><br>

                   <textarea name="comentario" class="form-control"id="comentario" required="required" placeholder="Comentario"></textarea>

                   <input name="submit" type="submit" id="submit" value="Enviar mensaje">                </form>

           </div>

            <div class="col-3">

               <div class="card">

                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.4502350400203!2d-0.35812868501777134!3d39.48174697948479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1527954510732" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>                    

               

               

               </div>

       </div>

   </div>

       </div>

       

   </div>



    
    

