<div class="container-fluid">
<div class="row">
<div class="col-12 image">
    </right><h1>GET THE BEST TRAVEL DEALS.
<a target="_blank" title="follow me on twitter" href="http://www.twitter.com/darl4real"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_40x40.png" border=0></a>
<a target="_blank" title="find us on Facebook" href="http://www.facebook.com/darlington.ayakazi"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_40x40.png" border=0></a>
<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0></a><right>
<a target="_blank" title="follow me on google plus" href="https://plus.google.com/u/1/"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus40x40.png" border=0></a>
</h1>
</div>
</div>
</div>
<div>
    <p><h5><div class="row"><p/>
    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
        <div class="card mb-4">
            <div class="card-body background"></div>
            <div class="card-body text-center">
                <h5 class="card-title">Red Card</h5>
                <p class="card-text">Get our Red Club card to travel to major cities in the world and travel at the best rates</p>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title"> Hotel Specials</h5>
                <p class="card-text">Stay in the best hotels at very affordable rates</p>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Car Hire Service</h5>
                <p class="card-text">Drive your dream car on your next vacation</p>
                <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div></h5>
<div class="row mt-sm-4 mt-md-0">
    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
        <h3>Outstanding Flights, Vacations Packages and more</h3>
        <p class="lead">Welcome to UPnGo Travel.</p>

        <p>Our bread and butter may be cheap flights and vacation packages but our point of difference is our people, your travel agents, and our extensive range of product. Our passionate, knowledgeable and dedicated Airfare Experts work extensively to customize your trip to get it right. They listen and suggest, care and inspire, for they are travellers too. Being a proven global company means massive global buying power. This affords Flight Centre Canada, and by extension you, exclusive airfare specials and unique travel deals with top quality airlines and travel providers that can't be found anywhere else in the marketplace..</p>
        <p>Every trip starts with a flight but we realize that it's just the beginning. As a complete one-stop shop, Flight Centre Canada will handle your tour, cruise, hotel stay, car rental and vacation packages and protect you and your trip with reliable and comprehensive travel insurance. Know that you're getting superior customer service, and with our Lowest Airfare Guarantee, the best vacation deals around. </p>
    </div>

<h2 style="width: 193px">CONTACT US</h2>

<form action="mailto:info@upmgotravels.com" method="post" enctype="text/plain" style="width: 191px">
Fullname:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment" size="50" style="width: 129px; height: 70px"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>





    </div>
    
</div>
</div>
</div>



