<div class="container-fluid">
<div class="row">
<div class="col-12 image">
    </right><h1>GET THE BEST TRAVEL DEALS.
<a target="_blank" title="follow me on twitter" href="http://www.twitter.com/darl4real"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>
<a target="_blank" title="find us on Facebook" href="http://www.facebook.com/darlington.ayakazi"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
<a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram_30x30.png" border=0></a><right>
<a target="_blank" title="follow me on google plus" href="https://plus.google.com/u/1/"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a>
</h1>

</h1>
</div>
</div>
</div>

        </div>
    </div>    
  </div>
  <h2>
  <h1 class="text-center">Best travel deals to major vacation sites</h1>

	
	<div class="container">
	<div class="row">
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/images/newyork.jpg" class="img-fluid" />
	<h3>New York €1,205</h3>
	<p>Speacial New York vacation</p>
  	</div>	
	<div class="team-back">
	<span>
  
	New york's sky scrapers and intriging landscapes, with spectacular sites to visit, one of the world's most developed cities.
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/images/Rio.jpg" class="img-fluid" />
	<h3>Rio de Janeiro €1,399</h3>
	<p>See the wonderful beaches of Rio</p>
	</div>
	
	<div class="team-back">
	<span>
	Picturesque landscapes, spectacular waterfalls, the wonderful beaches of Rio, the country's amazon forest and home to the warmest people on earth.
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="/images/Sidney.jpg" class="img-fluid" />
	<h3>Sidney €2,109</h3>
	<p>Visit Sidney Australia</p>
	</div>
	
	<div class="team-back">
	<span>
	Visit Sidney Australia and see the world from a different view, see Aborigeens and their woderful culture, there is an amazing world out there waiting for you to explore, the mixture and the multiple cultures of Australia is waiting for your visit.  
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="images/London.jpg" class="img-fluid" />
	<h3>London €179</h3>
	<p>Travel to London and live your English dream</p>
	</div>
	
	<div class="team-back">
	<span>
	A London vacation is one you will never forget as it is a blend of the old and new, there are lot's of exiting site and structures like the big Ben that will interest you. Book this vacation and don't miss out of the is deal. 
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="images/Lagos.jpg" class="img-fluid" />
	<h3>Lagos €850</h3>
	<p>Visit Lagos for an African exprience </p>
	</div>
	
	<div class="team-back">
	<span>
	Lagos has the tallest skyline in Nigeria. The architectural styles in Lagos are diverse and ranges from tropical, vernacular to colonial European and ultramodern buildings or a mixture. Brazilian style architecture brought by the creoles is evident in buildings such as Water House, to mention a few and the wonderful beaches
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="images/Tokyo.jpg" class="img-fluid" />
	<h3>Tokyo €2,135</h3>
	<p>An Asian dream come true</p>
	</div>
	
	<div class="team-back">
	<span>
	Tokyo, Japan’s busy capital is a rare mix of ultra-modern skyscrapers and traditional historical temples. Tokyo is a beautiful tourist city that boasts of constant change, reinvention, and renewal. On the outside Tokyo looks like any technologically advanced modern city, however it is home to some world famous traditional and historical landmarks
	</span>
	</div>
	
	</div>
	</div>
	
	
	
	
	</div>
	</div>
<div class="container3">
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="images/cool1.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">13% Discount vacations </a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 9.33</a>
                    </span>					
                    <p>A thriller by the seaside, it's an excape from the wild city life and an enjoyment of the serene bay, where people are given the chance to make it to the "better side" for a wonderful 13% discount of the original price.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="images/cool2.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">20% Holiday deals</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.26</a>
                    </span>
                    <p>A slightly unhinged former Navy SEAL lands a job as a police officer in Los Angeles where he's partnered with a veteran detective trying to keep maintain a low stress level in his life. and he says this is my best relaxation.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="images/cool5.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Retreats and Things</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 7.74</a>
                    </span>
                    <p>This is the best offer for office retreats and a whole lot of things you could do as a team,  We guarantee you will discover a small town full of adventures involving adventures and discoveries, in this island.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-6">
            <div class="list mb-2">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                    	<img src="images/cool4.jpg">
                    </a>
                </div>
                <div class="list-content">
                    <h2><a href="#" class="text-black">Pure Genius</a></h2> 
                    <span class="list-meta">
                    	<span class="list-meta-item"><i class="fa fa-clock-o"></i> 2016</span> 
                    	<a href="#" class="list-meta-item"><i class="fa fa-star"></i> 6.42</a>
                    </span>
                    <p>This is the kind of vacation you doctor would recomend for you, a veteran surgeon did with numerous of his clients and their testimonies will encourage you to do the same, it's a new school approach to medicine.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="About">

   <div class="col-11">

       <div class="card myplane5">

           <div class="card-body ">

               <div class="inf col-3">
				   <div class="box"></div>

                          <h2>Outstanding flights and Vacation pakages</h2>

                       

                       <p>Our bread and butter may be cheap flights and vacation packages but our point of difference is our people, your travel agents, and our extensive range of product. Our passionate, knowledgeable and dedicated Airfare Experts work extensively to customize your trip to get it right. They listen and suggest, care and inspire, for they are travellers too.

                       </p>

                   

               </div>            </div>

       </div>

   </div>

                
            </div>
        </div>
    </div>
   

</div>
    
</div>
</div>
</div>
<section id="contact">
  <div class="container">
    <div class="well well-sm">
      <h3><strong>Contact Us</strong></h3>
    </div>
	
	<div class="row">
	  <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.4502350400203!2d-0.35812868501777134!3d39.48174697948479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1527954510732" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-md-5">
          <h4><strong>Get in Touch</strong></h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="" value="" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="" value="" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>



    
    

