<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel='stylesheet' href="components/bootstrap/dist/css/bootstrap.min.css" />
     <link rel='stylesheet' href='dist/stylesheets/main.min.css' />
  </head>
  <body>
    {{> header}}  
    {{{body}}}
    <script type = "text/javasript" src="dist/javascripts/main.min.js">
    </script>
  </body>
</html>
