<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel='stylesheet' href="components/bootstrap/dist/css/bootstrap.min.css" />
     <link rel='stylesheet' href='dist/stylesheets/main.min.css' />
     <link rel='stylesheet' href='dist/stylesheets/styles.min.css' />
     <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    {{> header}}  
    {{{body}}}
    {{>footer}}
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>

<script type = "text/javascript" src="dist/javascript/main.min.js"></script>
  </body>
</html>
