<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel='stylesheet' href="components/bootstrap/dist/css/bootstrap.min.css" />
     <link rel='stylesheet' href='dist/stylesheets/main.min.css' />
     <link rel='stylesheet' href='dist/stylesheets/styles.min.css' />
     <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>
    {{> header}}  
    {{{body}}}
    {{>section}}
    {{>contact}}
    {{>footer}}
    <script type = "text/javascript" src="dist/javascript/main.min.js">
    </script>
  </body>
</html>
