<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Travel_Agency</h1>
    {{{body}}}
    {{>partial}}
  </body>
</html>