<form class="custom-form-container needs-validation" method="post" novalidate">
    
    <div class = "form-group">
        <label for="inputfullname" class="control-label col-xs-2">full name</label>
        <div class = "col-xs-10">
            <input type = "text" class="form-control transparent-input" id="inputfullname" name="fullName" placeholder="fullname">
        </div>
    </div>
    <br>
    <div class = "form-group">
        <label for="inputusername" class="control-label col-xs-2">username</label>
        <div class = "col-xs-10">
            <input type = "text" class="form-control transparent-input" id="inputusername" name="username" placeholder="username">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="inputemail" class="control-label col-xs-2">email</label>
        <div class="col-xs-10">
            <input type="email" class="form-control transparent-input" id="inputemail" name="email" placeholder="email">
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="inputpassword" class="control-label col-xs-2">password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control transparent-input" id="inputpassword" name="password" placeholder="password">
        </div>
      <br>
       <div class="form-group">
        <label for="inputpassword" class="control-label col-xs-2">password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control transparent-input" id="inputpassword"  placeholder="repeatpassword">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-5">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
            {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}
    </div>

</form>
    